/* .body { */
/* background-image: linear-gradient(rgb(162, 211, 204), rgb(157, 179, 180)); */
/* background-color: #aaa798f3; */
/* } */

nav {
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: right;
}

nav .login,
.signup {
  display: block;
  text-align: center;
  padding: 20px 20px;
  border-radius: 15px;
  font-size: x-large;
  font-weight: bolder;
}

a:link {
  text-decoration: none !important;
}
a {
  color: black;
}

nav .login:hover,
.signup:hover,
.sign-out-button:hover,
.home-button:hover,
.add-task-button:hover {
  background-color: #32cd32;
  color: black;
}

.title,
.slogan,
.login,
.signup,
.signup-title,
.login-title,
.welcome,
.add-task-button,
.all-tasks,
.sign-out-button,
.task-page-title,
.dashboard-button,
.home-button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.title {
  font-size: 200px;
  margin-top: 300px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.slogan {
  margin-left: 70px;
  font-size: 40px;
}

/* stlye the login form + copy for the sign up */

.loading {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #f86b6b;
  animation: spin 1s infinite linear;
  margin-top: 400px;
  margin-left: 900px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* task page */

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.task {
  border: 1px solid black;
  width: 300px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.task h3 {
  margin-top: 0;
}

.task p {
  margin: 5px;
}

.button-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.delete-button {
  background-color: #d12d25;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.complete-button {
  background-color: #7bff61;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* pie charts */

.pie-chart {
  position: relative;
  width: 400px;
  height: 400px;
}

.task.complete {
  background-color: rgba(35, 209, 35, 0.521);
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.signup-title,
.login-title {
  text-align: center;
  margin-top: 50px;
  font-size: 100px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.signup-title h2 {
  font-size: 100px;
}

.home-button {
  float: right;
  margin-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  color: rgb(255, 251, 251);
  background-color: #4caf50;
  width: 90px;
  height: 30px;
  font-size: 25px;
  text-align: center; /* added property */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="name"],
input[type="email"],
input[type="password"] {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #ccc;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.welcome {
  margin-bottom: 100px;
}

h1 {
  font-size: 32px;
  margin: 0;
}

.pie-chart {
  margin-bottom: 30px;
}

.add-task-button,
.all-tasks,
.dashboard-button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border: solid 2px;
  border-radius: 3px;
}

.sign-out-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  border: solid 2px;
  border-radius: 3px;
  padding: 10px;
  background-color: #83d686;
  color: black;
  font-weight: bold;
}

.all-tasks {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  border: solid 2px;
  border-radius: 3px;
  padding: 10px;
  background-color: #83d686;
  color: black;
  font-weight: bold;
}
Link {
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

Link:hover {
  background-color: #3e8e41;
}

.add-task-button {
  width: 400px;
  height: 50px;
  font-size: 40px;
}
